<header>
   <ul id="dropdown1" class="dropdown-content mask">
      <li><%= link_to "受講コース", myprojects_path %></li>
      <li><%= link_to "プロフィール", edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    </ul>

    <ul id="dropdown2" class="dropdown-content mask">
      <li><%= link_to "受講コース", myprojects_path %></li>
      <li><%= link_to "プロフィール", edit_user_registration_path %></li>
      <li class="divider"></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
    </ul>
    <nav class="light-blue darken-1 z-depth-2">
      <div class="container">
          <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Schoolion</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><%= link_to "コース", root_path %></li>
              <% if(!user_signed_in?) %>
              <li><%= link_to "会員登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <% else %>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown1">
              <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-small" %>&nbsp;
              <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
              <% end %>
            </ul>
            <ul class="side-nav" id="mobile-demo">
              <li><a href="#">コース</a></li>
              <% if(!user_signed_in?) %>
              <li><%= link_to "会員登録", new_user_registration_path %></li>
              <li><%= link_to "ログイン", new_user_session_path %></li>
              <% else %>
              <!-- Dropdown Trigger -->
              <li><a class="dropdown-button valign-wrapper" href="#!" data-activates="dropdown2">
              <%= image_tag avatar_url(current_user), class: "circle responsive-img avatar-small" %>&nbsp;
              <%= current_user.name %><i class="material-icons right">arrow_drop_down</i></a></li>
              <% end %>
            </ul>
          </div>
      </div>
    </nav>
</header>